@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

.headerContainer {
  background: black;
  padding: 0 30px;
  height: 110px;
  color: #fff;
}

.header {
  font-family: "Roboto Mono", monospace;
  padding-top: 2rem;
}

.navContainer {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 30rem;
  margin-bottom: 0;
  list-style: none;
}

.sliderimg {
  width: 50%;
  height: 400px;
  margin-left: 23rem;
  padding-top: 10rem;
  border-radius: 6px;
}

.resume {
  position: absolute;
  color: #fff;
  font-size: 35px;
  font-family: "Roboto Mono", monospace;
  top: 25px;
}

.front {
  position: absolute;
  top: 150px;
  left: 360px;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.frontend {
  position: absolute;
  top: 190px;
  left: 440px;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.back {
  position: absolute;
  color: #fff;
  top: 150px;
  left: 840px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.backend {
  position: absolute;
  top: 190px;
  left: 920px;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

ul {
  color: #fff;
  text-decoration: none;
}

.project {
  position: absolute;
  top: 20px;
  font-size: 2.5rem;
  font-family: "Roboto Mono", monospace;
}

.contact {
  position: absolute;
  top: 12px;
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

.contactTitle {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 30px;
  left: 650px;
}

#contact-form {
  padding-top: 8rem;
}

button {
  padding: 3px;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
  border-radius: 5px;
}
.contactItem {
  color: rgb(241, 166, 25);
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom:1.3rem;
}



.error-text {
  color:rgb(235, 163, 30);
  font-family: "Roboto Mono", monospace;
}

footer a {
  color: #fff;
}

a {
  color: rgb(218, 145, 10);
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  padding-left: 3rem;
}

.about {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding-bottom: 4rem;
}
.me {
  margin-top: 24px;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 20px;
  text-align: center;
  max-width: 600px;
}

.resumeButton {
  position: absolute;
  top: 100px;
  left: 630px;
}

